.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: .5rem;

  .line-through {
    text-decoration: line-through;
    color: rgb(184, 184, 184);
  }

  .none {
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.010);
    transition: 0.3s ease-in-out;
  }

  .check-title {
    display: flex;
    align-items: center;

    .checkbox {
      margin-right: 2rem;
      cursor: pointer;
    }
  }


  .remove {
    margin-left: 2rem;

    &:hover {
      color: rgb(204, 15, 8);
      cursor: pointer;
    }
  }

  .edit:hover {
    color: rgb(6, 148, 63);
    cursor: pointer;
  }
}