@import '../../assets/styles/variables';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: $primary-color;
  color: $secondary-color;
  height: 20rem;

  .title {
    margin: 1rem;
  }

  .subtitle {
    color: $secondary-color-light;
  }
}